@import './Colors.scss';
@import './Mixins.scss';
.all-page-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $mainBackGroundColor;
    @include StandarFlexOptions;
    flex-wrap: wrap;
}
.width-control-page{
    @media (min-width: 510px) {
        display: none;
    }
    @media (max-width: 509px) {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $contrastBlack;
        @include StandarFlexOptions;
        img{
            width: 250px;
            height: 250px;
        }
    }
    @media (min-height: 1020px) {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $contrastBlack;
        @include StandarFlexOptions;
        img{
            width: 250px;
            height: 250px;
        }
    }
}
.logo{
    width: 200px;
    height: 70px;
    margin: 0 100px;
    @media (max-width: 850px) {
        display: none;
    }
}
.drum-board{
    width: 70%;
    height: 70%;
    padding: 10px;
    @include StandardBorder(2px, $optionalWhite, 10px);
    @include StandarFlexOptions;
    @media (max-width: 850px){
        width: 90%;
        height: 90%;
    }
}
.play-field, .record-field{
    height: 90%;
    padding: 5px;
    @include StandarFlexOptions;
}
.play-field{
    width: 50%;
    padding: 0px 5px;
    margin-right: 100px;
    flex-wrap: wrap;
}
.record-field{
    width: 30%;
    background-color: $lightGreen;
    flex-wrap: wrap;
    position: relative;
    @include StandardBorder(0px, $lightGreen, 10px);
    @include StandarFlexOptions;
}