@import './Colors.scss';
@import './Mixins.scss';
.metronome-field{
    width: 95%;
    min-height: 40%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: $contrastBlack;
    border-radius: 10px;
    position: relative;
    flex-wrap: wrap;
    @include StandarFlexOptions;
    @media (max-width: 800px){
        height: 40%;
    }
   .set-BPM-button{
       width: 80%;
       padding: 5px;
       background-color: $optionalWhite;
       border-radius: 10px;
       font-family: 'Rubik', sans-serif;
       font-size: 1.5vw;
       font-weight: 900;
       color:  $contrastBlack;
       outline: none;
       border: none;
       @include StandarFlexOptions;
   }
   .display-value-BPM{
        width: 50%;
        height: 30%;
        margin-top: 40px;
        color: $optionalWhite;
        font-size: 6vh;
        font-family: 'Rubik', sans-serif;
        border-top: 1px solid $optionalWhite;
        border-bottom: 1px solid $optionalWhite;
        @include StandarFlexOptions;
        @media (max-width: 800px){
            margin-top: 30px;
        }
        input{
           width: 80%;
           padding: 0;
           background-color: $contrastBlack;
           font-size: 6vh;
           font-family: 'Rubik', sans-serif;
           color: $optionalWhite;
           text-align: center;
           outline: none;
           border: none;
        }
   }
   .delete-metronome-button{
       font-size: 1.5vw;
       color: $optionalWhite;
       position: absolute;
       top: 10px;
       right: 10px;
       background-color: $contrastBlack;
       border: none;
       @include StandarFlexOptions;
   }
   .option-field-container{
       width: 90%;
       height: 30%;
       margin: 20px 0 10px;
       @include StandarFlexOptions;
       @media (max-width: 800px){
        margin: 5px 0;
    }
       .reset-metronome-button, .start-metronome-button{
            width: 3.5vw;
            height: 3.5vw;
            padding: 0;
            font-size: 1.5vw;
            margin: 0 10px;
            background-color: $contrastBlack;
            color: $optionalWhite;
            @include StandardBorder(2px, $optionalWhite, 50px);
            @include StandarFlexOptions;
       }
   }
}