@import './Colors.scss';
@import './Mixins.scss';

.all-tracks-field{
    width: 90%;
    position: relative;
    margin-top: 20px;
}
// .option-button{
//     top: 10px;
//     right: 10px;
//     position: absolute;
//     background-color: $lightGreen;
//     border: none;
//     color: $optionalWhite;
// }
// .optional-menu{
//     width: 50%;
//     height: 50%;
//     top: 25px;
//     right: 15px;
//     position: absolute;
//     background-color: green;
//     z-index: 20;
// }