@import './Colors.scss';
@import './Mixins.scss';
.single-cell{
    width: calc((100% - 70px) / 3);
    height: calc((100% - 70px) / 3);
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 5px;
    background-color: $contrastBlack;
    color: $optionalWhite;
    @include StandarFlexOptions;
    flex-wrap: wrap;
    border-radius: 10px;
    h5, p{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    h5{
        font-family: 'Grandstander', cursive;
        font-size: 1.8vw;
    }
    p{
        font-family: 'Rubik', sans-serif;
        font-size: 1.5vw;
    }
}