@import './Colors.scss';
@import './Mixins.scss';

.soundtracks{
    width: 100%;
    padding: 2px 10px;
    box-sizing: border-box;
    background-color: $contrastBlack;
    margin-bottom: 10px;
    border-radius: 5px;
    color: $optionalWhite;
    font-family: 'Rubik', sans-serif;
    font-size: 2vw;
    @include StandarFlexOptions;
    justify-content: space-between;
    .control-field{
        @include StandarFlexOptions;
    }
    .controls-icon{
        position: relative;
        font-size: 2vw;
        margin: 0 3px;
        padding: 2px;
        color: $optionalWhite;
        background-color: $contrastBlack;
        border: none;
        @include StandarFlexOptions;
    }
    
    .record-diode{
        width: 45%;
        height: 45%;
        position: absolute;
        border-radius: 50px;
        background-color: red;
    }
}
.counter-page{
    width: 70%;
    height: 70%;
    position: absolute;
    background-color: rgba($color: $contrastBlack, $alpha: 0.9);
    color: $optionalWhite;
    font-size: 7vw;
    font-family: 'Grandstander', cursive;
    @include StandarFlexOptions;
}